<div class="bg-white p-3 p-lg-5 rounded-3 ">
    <p class="text-center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="mb-3">
        <input type="email" class="form-control" id="inputName" placeholder="Nome">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="inputTelefone" placeholder="Telefone">
    </div>
    <div class="d-grid">
        <button type="button" class="btn btn-primary">Enviar</button>
    </div>
</div>

@code {

}
