<style>
  @@media(min-width:1440px) {
    .content__Services {
      height: auto;
    }
  }
</style>
<section class=" bg-body-tertiary content__Services">
  <div class="container h-100 align-content-center py-5">
    <div class="row justify-content-center align-content-center ">
      <div class="col-12 mb-5">
        <h2 class="text-dark text-center display-1 mb-3">Utilidades</h2>
        <p class="text-dark text-center fs-4">
          "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </p>
      </div>
      <div class="col-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          @for (var i = 0; i < 6; i++)
          {
            <div class="col">
              <CardIcon />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

@code {

}
