<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="novasingular.com.br">
    <meta property="og:site_name" content="Fito">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@pageUrl">
    <meta property="og:image" content="@imageUrl">
    <meta property="og:locale" content="pt-br">
    <base href="/" />


    <link rel="stylesheet" href="/style/critical.min.css" fetchpriority="high" />

    <link rel="stylesheet" href="app.css" media="print" onload="this.media='all'" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="BlazorComponents.styles.css" media="print" onload="this.media='all'" />
    
    <link rel="stylesheet" href="/style/style.min.css" media="print" onload="this.media='all'" />
    <!--Bootstrap-->
    <link rel="stylesheet" href="/bootstrap/bootstrap/scss/bootstrap.min.css" media="print" onload="this.media='all'" referrerpolicy="no-referrer" />

    <!--Bootstrap-icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
   
    <!--CSS Swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" media="print" onload="this.media='all'" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <!--Bootstrap JS-->
    <script defer src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Swiper JS-->
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

</html>
@code{
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    string? imageUrl;
    string? pageUrl;

    protected override void OnInitialized()
    {
        string host = $"{HttpContext?.Request.Scheme}://{HttpContext?.Request.Host.Value}";

        pageUrl = $"{host}{HttpContext?.Request.Path.Value}";
        imageUrl = $"{host}/800x800.jpg";
    }
}