
<div class="card border-0">
  <i class="bi bi-umbrella icon text-center"></i>
  <div class="card-body text-center">
    <h5 class="card-title px-5 mx-4 fs-5 fw-bold">Lorem Ipsum is simply dummy Lorem Ipsum</h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.</p>
  </div>
</div>
@code {

}
