<nav class="navbar navbar-light navbar-expand-lg fixed-top py-3">
    <div class="container bg-light rounded-3 p-3">
        <a class="navbar-brand" href="#">
            Blazor components
            @* <img class="img-fluid" src="" alt="" /> *@
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                    Blazor Components
                    @* <img class="img-fluid" src="" alt="" /> *@
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active icon-link icon-link-hover" aria-current="page" href="#">
                            Documentação
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/banners">Banners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Utilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cards</a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link" href="#">Link-4</a>
                    </li> *@
                   @*  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> *@
                </ul>
                @* <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form> *@
            </div>
        </div>
    </div>
</nav>