
<style>
    .btn__default{
        font-weight:bold;

    }

        .btn__default:focus, .btn__default:active:focus {
      box-shadow:none;
    }
</style>
<a class="btn btn__default bg-body px-5" href="/">Saiba mais</a>
@code {

}
