
<style>
    .content__banner {
        height: 90vh;
    }
</style>

<section id="banner" class="position-relative content__banner">
    <div class="w-100 h-100 position-absolute mask">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-content-center">
                <div class="col-lg-5 align-self-center">
                    <h1 class="text-white display-4 fw-bolder mb-4">Lorem Ipsum.</h1>
                    <h2 class="text-white fs-3 fw-normal mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                    <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-lg-4 offset-lg-1 ">
                </div>
            </div>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide h-100 w-100">Slide 1</div>
            <div class="swiper-slide h-100 w-100">Slide 2</div>
            <div class="swiper-slide h-100 w-100">Slide 3</div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</section>
@code {

}
